.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.Menu {
  display: none;
}

img[alt="Manage"] {
  width: max(12%, 140px);
  height: 1.65rem;
  transform: translateY(1.5px);
}

@media (max-width: 1050px) {
  .Header {
    padding: 3rem 0;
  }
}

@media (max-width: 800px) {
  .Menu {
    display: block;
  }
}
