.Navbar > ul {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-self: center;
}

.nav-link {
  list-style: none;
  cursor: pointer;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

.nav-link + .nav-link {
  margin-left: 1.5rem;
}

.nav-link:hover,
.nav-link:active {
  opacity: 0.65;
}

@media (max-width: 800px) {
  .Navbar {
    display: block;
    position: absolute;
    top: 7rem;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0175),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.32),
      rgba(0, 0, 0, 0.45)
    );
    height: 100vh;
    width: 100vw;
  }

  .Navbar > ul {
    flex-direction: column;
    width: min(400px, 90%);
    background: #fff;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }

  .nav-link + .nav-link {
    margin: 1rem 0 0 0;
  }
}
