* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Be Vietnam", sans-serif;
}

#root {
  position: relative;
  overflow-x: hidden;
  padding: 0 8rem;
  min-width: 250px;
}

.bg {
  position: absolute;
  z-index: -1;
}

.bg-left {
  bottom: 0;
  left: 0;
}

.bg-right {
  top: -15rem;
  right: -12rem;
}

.hide {
  display: none;
}

@media (max-width: 1050px) {
  #root {
    padding: 0 2rem;
  }

  .bg-right {
    top: -20rem;
    right: -20rem;
  }
}

@media (max-width: 730px) {
  #root {
    padding: 0 1rem;
  }

  .bg {
    width: 100vw;
  }

  .bg-right {
    top: -2rem;
    right: -3rem;
  }
}
