* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Be Vietnam", sans-serif;
}

#root {
  position: relative;
  overflow-x: hidden;
  min-width: 250px;
  min-height: 100vh;
}

.bg {
  position: absolute;
  z-index: -1;
}

.bg-left {
  bottom: 0;
  left: 0;
}

.bg-right {
  top: -15rem;
  right: -12rem;
}

#banner-bg-left,
#banner-bg-right {
  position: absolute;
  width: max(20%, 200px);
  opacity: 0.07;
}

#banner-bg-left {
  bottom: -6rem;
  left: -4rem;
}

#banner-bg-right {
  top: -6rem;
  right: -4rem;
}

.hide {
  display: none;
}

@media (max-width: 1050px) {
  .bg-right {
    top: -20rem;
    right: -20rem;
  }
}

@media (max-width: 730px) {
  .bg {
    width: 100vw;
  }

  .bg-right {
    top: -2rem;
    right: -3rem;
  }
}
